<section class="header">
    <h1>{{type}}</h1>
</section>

<section>
    {{#each thing}}
    <div class='icon-tile'>
        <a href='/{{type}}/{{id}}'>
            <img class="icon" src={{icon}} />
            <p>{{name}}</p>
        </a>
    </div>
    {{/each}}
</section>

<div>
    <a href="/">Home</a>
</div>